@model AddictingChoresProject.Models.Chore

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Chore</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValueType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValueType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Assignment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assignment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeadlineDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeadlineDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChoreTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChoreTitle)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ChoreId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
