@model AddictingChoresProject.Models.Child

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Child</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BronzeBalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BronzeBalance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SilverBalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SilverBalance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GoldBalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoldBalance)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ChildId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
