@model IEnumerable<AddictingChoresProject.Models.Child>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.BronzeBalance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SilverBalance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GoldBalance)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.DateOfBirth)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.BronzeBalance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SilverBalance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GoldBalance)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ChildId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ChildId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ChildId })
        </td>
    </tr>
}

</table>
